.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  color: #00000099;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 16px;
}
