.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__name {
  margin: 0;
  color: #00000099;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 16px;
}

.card__like-button {
  background-image: url(../../assets/likebutton.png);
  border: none;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 15px;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-size: contain;
}

.card__like-button_liked {
  background-image: url(../../assets/likebuttonliked.png);
  opacity: 1;
}
