.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  padding: 40px 0px 34px;
  margin: 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}
