.modal__content_type_image {
  display: flex;
  flex-direction: column;
  width: 498px;
  height: 610px;
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  margin: 0;
}

.modal__image {
  display: block;
  object-fit: cover;
}

.modal__close {
  color: #ffffff;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  margin: 0 32px 32px 32px;
}

.modal__footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__caption {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.modal__delete {
  color: #ff4d00;
  background-color: transparent;
  border: none;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
